# Nuxt
.nuxt
.output
.data
dist

# Node
node_modules
*.log

# Env
.env

# Tests
test-results
playwright-report
coverage

# Python
__pycache__

# Local Netlify folder
.netlify

# Playwright
test-results
playwright-report
